<a href="https://colab.research.google.com/github/Young4424/Machine-Learning-Deep-learning-Myself/blob/main/01_Feature_Engineering_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [276]:
import numpy as np
import pandas as pd

In [301]:
data = pd.read_csv('titanic.csv')

In [278]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# 결측값 확인
data.info()

In [302]:
data = data.drop(columns = 'Cabin')

In [303]:
data['Age'].fillna(data["Age"].median()) #  결측치를 중위수로 채움

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [304]:
from sklearn.impute import SimpleImputer

In [305]:
data['Age'] # series로 나옴 -> dataframe으로 바꿔야함

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
imputer = SimpleImputer(strategy = 'constant', fill_value = 0) # constant 상수값을 집어 넣는다.

imputer.fit_transform(data[['Age']]) #[[]] 이중 괄호로 dataframe으로 바꿔줘야 한다.

In [307]:
imputer = SimpleImputer(strategy = 'mean')
data['Age'] = imputer.fit_transform(data[['Age']])

In [308]:
data['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [309]:
data['Age'] = data['Age'].astype(int) # 타입을 인트로 바꿔줘야한다.

In [310]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [311]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,Q

In [ ]:
(data["Name"].str.split().str.get(1)).value_counts()

In [313]:
data['Married'] = data["Name"].str.split().str.get(1)

In [314]:
data['Married'] = data['Married'].apply(lambda x: x if x in ['Mr.', 'Mrs.', 'Miss.', 'Master.'] else 'others')

In [317]:
data2 = pd.get_dummies(data[['Married']])
data2

     Married_Master.  Married_Miss.  Married_Mr.  Married_Mrs.  Married_others
0                  0              0            1             0               0
1                  0              0            0             1               0
2                  0              1            0             0               0
3                  0              0            0             1               0
4                  0              0            1             0               0
..               ...            ...          ...           ...             ...
886                0              0            0             0               1
887                0              1            0             0               0
888                0              1            0             0               0
889                0              0            1             0               0
890                0              0            1             0               0

[891 rows x 5 columns]

In [468]:
data3 = pd.concat([data, data2], axis = 1)
data3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Married,Married_Master.,Married_Miss.,Married_Mr.,Married_Mrs.,Married_others
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S,Mr.,0,0,1,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C,Mrs.,0,0,0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S,Miss.,0,1,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,Mrs.,0,0,0,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S,Mr.,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,S,others,0,0,0,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,S,Miss.,0,1,0,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29,1,2,W./C. 6607,23.4500,S,Miss.,0,1,0,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C,Mr.,0,0,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,Q,Mr.,0,0,1,0,0

In [469]:
data3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked', 'Married', 'Married_Master.',
       'Married_Miss.', 'Married_Mr.', 'Married_Mrs.', 'Married_others'],
      dtype='object')

In [470]:
drop_cols = ['PassengerId', 'Name', 'Ticket','Sex','SibSp','Married']
numeric_cols = ['Age','Parch', 'Fare','Pclass']
categorical_cols = ['Embarked','Married_Master.','Married_Miss.','Married_Mr.','Married_Mrs.','Married_others']

In [471]:
data3 = data3.drop(columns = drop_cols)

In [472]:
num_feats = data3[numeric_cols]
cat_feats = data3[categorical_cols]

In [473]:
# 연속형 변수들의 처리
  # 1. 결측값, 이상치를 처리 - 대체(imputation)
  # 2. 스케일링

imputer = SimpleImputer(strategy = 'median') # 중위수
num_feats = pd.DataFrame(data = imputer.fit_transform(num_feats), columns = numeric_cols) # 그냥 하면 array로 반환되므로, Dataframe 넣음

In [474]:
from sklearn.preprocessing import MinMaxScaler # 0~1 사이 값으로 만들어주는 것

In [475]:
scaler = MinMaxScaler()
num_feats = pd.DataFrame(data = scaler.fit_transform(num_feats), columns = numeric_cols)

In [476]:
num_feats.head()

      Age  Parch      Fare  Pclass
0  0.2750    0.0  0.014151     1.0
1  0.4750    0.0  0.139136     0.0
2  0.3250    0.0  0.015469     1.0
3  0.4375    0.0  0.103644     0.0
4  0.4375    0.0  0.015713     1.0

In [477]:
# 범주형 변수 처리
  # 1. 결측치 처리 = imputer - 대체(Imputation), 최빈값
  # 2. 인코딩 One Hot Encoding (문자 -> 숫자, dummy 변수화)

imputer = SimpleImputer(strategy = 'most_frequent') # 최빈값
cat_feats = pd.DataFrame(data = imputer.fit_transform(cat_feats), columns = categorical_cols)

In [478]:
cat_feats= pd.get_dummies(cat_feats) # one hot encoding, dummy 변수

<ipython-input-478-ef3c308603fc>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cat_feats= pd.get_dummies(cat_feats) # one hot encoding, dummy 변수
<ipython-input-478-ef3c308603fc>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cat_feats= pd.get_dummies(cat_feats) # one hot encoding, dummy 변수
<ipython-input-478-ef3c308603fc>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cat_feats= pd.get_dummies(cat_feats) # one hot encoding, dummy 변수
<ipython-input-478-ef3c308603fc>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cat_feats= pd.get_dummies(cat_feats) # one hot encoding, dummy 변수
<ipython-input-478-ef3c308603fc>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cat_feats= pd.get_dummies(cat_feats) # one hot encoding, dummy 변수

In [479]:
features = pd.concat([num_feats,cat_feats], axis = 1)

In [480]:
features # 전부다 숫자로 바뀜

,Age,Parch,Fare,Pclass,Embarked_C,Embarked_Q,Embarked_S,Married_Master._0,Married_Master._1,Married_Miss._0,Married_Miss._1,Married_Mr._0,Married_Mr._1,Married_Mrs._0,Married_Mrs._1,Married_others_0,Married_others_1
0,0.2750,0.000000,0.014151,1.0,0,0,1,1,0,1,0,0,1,1,0,1,0
1,0.4750,0.000000,0.139136,0.0,1,0,0,1,0,1,0,1,0,0,1,1,0
2,0.3250,0.000000,0.015469,1.0,0,0,1,1,0,0,1,1,0,1,0,1,0
3,0.4375,0.000000,0.103644,0.0,0,0,1,1,0,1,0,1,0,0,1,1,0
4,0.4375,0.000000,0.015713,1.0,0,0,1,1,0,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.3375,0.000000,0.025374,0.5,0,0,1,1,0,1,0,1,0,1,0,0,1
887,0.2375,0.000000,0.058556,0.0,0,0,1,1,0,0,1,1,0,1,0,1,0
888,0.3625,0.333333,0.045771,1.0,0,0,1,1,0,0,1,1,0,1,0,1,0
889,0.3250,0.000000,0.058556,0.0,1,0,0,1,0,1,0,0,1,1,0,1,0
890,0.4000,0.000000,0.015127,1.0,0,1,0,1,0,1,0,0,1,1,0,1,0

# Validation

In [450]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score

In [451]:
targets = data['Survived']

In [452]:
 X_train, X_valid, y_train, y_valid = train_test_split(features, targets,test_size = 0.2 ) # 예제 문제 전체, 정답 전체, 20% 떼서 씀

In [453]:
# 80 개 연습, 20개 때 놓기

In [454]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [455]:
from sklearn.metrics import classification_report

In [456]:
y_pred = model.predict(X_valid) # 학습에 사용하지 않은 데이터

In [457]:
print(classification_report(y_valid, y_pred)) # (정답, 실제 푼 것)

              precision    recall  f1-score   support

           0       0.88      0.82      0.85       112
           1       0.73      0.81      0.77        67

    accuracy                           0.82       179
   macro avg       0.80      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

In [352]:
# Validation
# 데이터셋을 어디부터 뗴오는가에 따라 성능이 달라질 수 있음

scores = cross_val_score(
    estimator = DecisionTreeClassifier(),
    X = features, y = targets,
    cv = 5
)

scores.mean()

0.7676856443412217

In [353]:
from sklearn.neighbors import KNeighborsClassifier

In [354]:
scores = cross_val_score(
    estimator = KNeighborsClassifier(n_neighbors = 5),
    X = features, y = targets,
    cv = 5
)

scores.mean() # 왜 잘했는지는 설명하기가 어려움

0.7991086560793421

In [355]:
scores = cross_val_score(
    estimator = KNeighborsClassifier(n_neighbors = 10),
    X = features, y = targets,
    cv = 5
)

scores.mean()

0.79686774213797

In [358]:
for i in range(3,50):
  scores = cross_val_score(
    estimator = KNeighborsClassifier(n_neighbors = i),
    X = features, y = targets,
    cv = 5
  )
  print(f"K = {i}일때, {scores.mean()}")

K = 3일때, 0.7901638315234449
K = 4일때, 0.7856694495009731
K = 5일때, 0.7991086560793421
K = 6일때, 0.7901324461741259
K = 7일때, 0.7934906785512522
K = 8일때, 0.793496955621116
K = 9일때, 0.799114933149206
K = 10일때, 0.79686774213797
K = 11일때, 0.7890151277383717
K = 12일때, 0.7957567007720796
K = 13일때, 0.7901324461741259
K = 14일때, 0.8024668884564686
K = 15일때, 0.7923921913250893
K = 16일때, 0.7935032326909799
K = 17일때, 0.792404745464817
K = 18일때, 0.7968551879982424
K = 19일때, 0.7968614650681062
K = 20일때, 0.8024668884564685
K = 21일때, 0.7923796371853618
K = 22일때, 0.7991149331492059
K = 23일때, 0.79686774213797
K = 24일때, 0.8024857196660597
K = 25일때, 0.8024919967359236
K = 26일때, 0.8013621241604418
K = 27일때, 0.8047329106772958
K = 28일때, 0.8024982738057874
K = 29일때, 0.8002448057246877
K = 30일때, 0.7980038917833155
K = 31일때, 0.8069863787583955
K = 32일때, 0.8024857196660597
K = 33일때, 0.8069801016885318
K = 34일때, 0.8047391877471597
K = 35일때, 0.8036093151716779
K = 36일때, 0.8092147385600402
K = 37일때, 0.8069801016885318
K = 38일때, 0.8114619295712762
K = 39일때, 0.8114556525014123
K = 40일때, 0.8103195028560668
K = 41일때, 0.8136902893729208
K = 42일때, 0.8058690603226415
K = 43일때, 0.8081099742640137
K = 44일때, 0.8069863787583957
K = 45일때, 0.8125729709371665
K = 46일때, 0.8103257799259305
K = 47일때, 0.8103257799259305
K = 48일때, 0.8047454648170234
K = 49일때, 0.8047454648170234

In [360]:
from sklearn.svm import SVC

In [365]:
scores = cross_val_score(
    estimator = SVC(),
    X = features, y = targets,
    cv = 10
  )

scores.mean()

0.8125717852684146

In [371]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import StratifiedKFold, train_test_split, cross_val_score

In [481]:
cv = StratifiedKFold(n_splits=5, shuffle=True)

score = cross_val_score(
    estimator = KNeighborsClassifier(n_neighbors = 5),
    X = features, y = data['Survived'],
    cv = cv,
    scoring = 'accuracy'
)
score.mean()

0.8047454648170234

In [483]:
cv = StratifiedKFold(n_splits=5, shuffle=True)

score = cross_val_score(
    estimator = SVC(kernel = 'rbf'),
    X = features, y = data['Survived'],
    cv = cv,
    scoring = 'accuracy'
)
score.mean()

0.8125792480070304

In [484]:
from xgboost import XGBClassifier, plot_importance, plot_tree

In [485]:
cv = StratifiedKFold(n_splits=5, shuffle=True)

score = cross_val_score(
    estimator = XGBClassifier(),
    X = features, y = data['Survived'],
    cv = cv,
    scoring = 'accuracy'
)
score.mean()

0.7968740192078337

In [486]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [487]:
cv = StratifiedKFold(n_splits=5, shuffle=True)

scores = cross_val_score(
    estimator = XGBClassifier(),
    X = features, y = data['Survived'],
    cv = cv,
    scoring = 'accuracy'
)

scores.mean()

0.809189630280585

In [488]:
from lightgbm import LGBMClassifier, plot_importance, plot_tree

In [510]:
cv = StratifiedKFold(n_splits=5, shuffle=True)

score = cross_val_score(
    estimator = LGBMClassifier(num_iteration = 300,learning_rate= 0.1,num_leaves = 31,max_depth = 30),
    X = features, y = data['Survived'],
    cv = cv,
    scoring = 'accuracy'
)

score.mean()

/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:177: UserWarning: Found `num_iteration` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] num_iterations is set=300, num_iteration=300 will be ignored. Current value: num_iterations=300

/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:177: UserWarning: Found `num_iteration` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] num_iterations is set=300, num_iteration=300 will be ignored. Current value: num_iterations=300

/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:177: UserWarning: Found `num_iteration` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] num_iterations is set=300, num_iteration=300 will be ignored. Current value: num_iterations=300

/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:177: UserWarning: Found `num_iteration` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] num_iterations is set=300, num_iteration=300 will be ignored. Current value: num_iterations=300
[LightGBM] [Warning] num_iterations is set=300, num_iteration=300 will be ignored. Current value: num_iterations=300

/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:177: UserWarning: Found `num_iteration` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

0.8047015253279769